# Compiler files
cache/
out/
out-test/
out-uat/
out-staging/
out-prod/
out-arbitrum/
out-base/
out-optimism/
out-avalanche/

# Ignores development broadcast logs
/broadcast/
/broadcast/**/*
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env
.env.test
.env.uat
.env.staging
.env.prod
.env.prod.arbitrum
.env.prod.base
.env.prod.optimism
.env.prod.avalanche
.env.prod.zksync
